%h-container {
  max-width: var(--container);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--space-s);
  padding-left: var(--space-s);

  @drupal-breakpoint narrow_1x {
    padding-right: var(--space-l);
    padding-left: var(--space-l);
  }

  @drupal-breakpoint wide_1x {
    padding-right: var(--space-l);
    padding-left: var(--space-l);
  }
}

%h-container--medium {
  max-width: var(--container--medium);
}

%h-container--narrow {
  max-width: var(--container--narrow);
}

%h-container--full {
  max-width: var(--site-max-width);
  padding-right: 0;
  padding-left: 0;

  @drupal-breakpoint narrow_1x {
    padding-right: 0;
    padding-left: 0;
  }

  @drupal-breakpoint wide_1x {
    padding-right: 0;
    padding-left: 0;
  }
}

%h-container--more-offset--mobile {
  @drupal-breakpoint mobile_1x {
    padding-right: var(--space-xxxxl);
    padding-left: var(--space-xxxxl);
  }
}
