@import "_h-container";

.h-container {
  @extend %h-container;

  &--full {
    @extend %h-container--full;
  }

  &--medium {
    @extend %h-container--medium;
  }

  &--narrow {
    @extend %h-container--narrow;
  }
}
