@import "@my_theme/components/molecules/bc-copyright/_m-bc-copyright";
@import "@my_theme/components/molecules/menu-social/_m-menu-social";
@import "@my_theme/components/molecules/bc-contact-text/_m-bc-contact-text";
@import "@my_theme/components/molecules/bc-contact-info/_m-bc-contact-info";

.block-region-eighth-region {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: var(--space-xl) 0;

  > div {
    padding-bottom: var(--space-xs);

    @drupal-breakpoint wide_1x {
      padding-bottom: 0;
    }
  }

  .block-system-branding-block {
    @drupal-breakpoint wide_1x {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
    }
  }

  /* @todo: update selectors/add class names instead of the generic paragraph naming */
  /* Also replace in js addsvg */
  .block-system-branding-block + .block-content--paragraph {
    @extend %m-bc-contact-text;

    @drupal-breakpoint wide_1x {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      max-width: 15.75rem;
    }
  }

  .block-content--paragraph + .block-content--paragraph {
    @extend %m-bc-contact-info;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;

    .field--name-wysiwyg {
      @extend %m-bc-contact-info__text;

      p {
        margin: 0;
      }

      svg {
        @extend %m-bc-contact-info__icon;
      }
    }

    @drupal-breakpoint wide_1x {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      padding-top: var(--space-xxxs);
    }
  }

  .menu--social-networks {
    @extend %m-menu-social;

    grid-row-start: 2;
    grid-column-start: 1;

    @drupal-breakpoint wide_1x {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 4;
      padding-top: var(--space-xxxs);
    }
  }

  .menu--social-networks + .block-content--text {
    @extend %m-bc-copyright;

    text-align: left;

    @drupal-breakpoint wide_1x {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 4;
    }
  }

  @drupal-breakpoint wide_1x {
    grid-template-columns: 25% 35% 20% 20%;
    padding: var(--space-xxxl) 0;
  }
}
