@import "@my_theme/components/molecules/bc-image/_m-bc-image";

.block-content--image {
  .field--name-image-block {
    @extend %m-bc-image__grid;

    img {
      @extend %m-bc-image__image;
    }
  }
}
