%m-bc-image {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: calc(var(--space-xs) * -1) calc(var(--space-s) * -1);

    & > * {
      margin: var(--space-xs) var(--space-s);

      @drupal-breakpoint narrow_1x {
        margin: var(--space-s) var(--space-l);
      }

      @drupal-breakpoint wide_1x {
        margin: var(--space-s) var(--space-l);
      }
    }

    @drupal-breakpoint narrow_1x {
      margin: calc(var(--space-s) * -1) calc(var(--space-l) * -1);
    }

    @drupal-breakpoint wide_1x {
      margin: calc(var(--space-s) * -1) calc(var(--space-l) * -1);
    }

    @drupal-breakpoint wide_1x {
      justify-content: space-around;
    }
  }

  &__image {
    vertical-align: top;
  }
}
