{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<input{{ attributes.addClass('a-checkbox__input') }} />{{ children }}
<div class="a-checkbox__icon-container">
  <svg class="a-checkbox__icon" aria-hidden="true">
    <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-check"></use>
  </svg>
</div>
