{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<svg class="datepicker-icon" aria-hidden="true">
  <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-calendar"></use>
</svg>
<input{{ attributes }} />
{{ children }}
