:root {
  --footer-contact-text-desktop-size: 225px;
  --footer-contact-text-margin-right: 100px;
  --footer-contact-text-margin-left: 85px;
}

%m-bc-contact-text {
  color: var(--color-2);
  font-weight: var(--font-weight--medium);
  line-height: var(--line-height--xl);

  .field--name-paragraph > .field__item {
    p {
      margin: 0;
    }

    &:first-child p {
      margin-bottom: var(--space-xxxs);
      font-size: var(--font-size--l);
      font-weight: var(--font-weight--bold);
    }
  }
}
