%m-accordion {
  display: inherit;

  &__content {
    padding: var(--space-l);
    color: var(--color-15);
    font-size: var(--font-size-base);

    & > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @drupal-breakpoint wide_1x {
      font-size: var(--font-size--l);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: var(--space-xxs) var(--space-l);
    border-top: 1px solid var(--color-4);
    border-bottom: 1px solid var(--color-4);
    background-color: var(--color-3);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--xl);

    &--next {
      margin-top: -1px;
    }

    @drupal-breakpoint wide_1x {
      font-size: var(--font-size--l);
    }
  }

  &__icon-text {
    flex-shrink: 0;
    order: 1;
    margin: 0;
    text-indent: 0;
  }

  &__icon {
    display: block;
    width: var(--font-size--m-plus);
    height: var(--font-size--m-plus);
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234a4a4a' width='357' height='357' viewBox='0 0 357 357'%3E%3Cpath d='M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: contain;

    &--expanded {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234a4a4a' width='298.667' height='298.667' viewBox='0 0 298.667 298.667'%3E%3Crect y='128' width='298.667' height='42.667'/%3E%3C/svg%3E%0A");
    }
  }

  &__title {
    padding: var(--space-l) var(--space-l) var(--space-xxs);
    color: var(--color-13);
  }
}
