@import "_m-accordion";

.m-accordion {
  @extend %m-accordion;

  .m-accordion__content {
    @extend %m-accordion__content;
  }

  .m-accordion__header {
    @extend %m-accordion__header;

    & ~ .m-accordion__header {
      @extend %m-accordion__header--next;
    }
  }

  .m-accordion__icon {
    @extend %m-accordion__icon-text;

    &:before {
      @extend %m-accordion__icon;
    }
  }

  .m-accordion__header.ui-state-active > .m-accordion__icon:before {
    @extend %m-accordion__icon--expanded;
  }
}
