%m-bc-contact-info {
  color: var(--color-2);
  font-weight: var(--font-weight--medium);
  line-height: var(--line-height--xl);

  &__icon {
    width: 12px;
    height: 12px;
    fill: var(--color-2);
    margin-right: var(--space-xxxs);
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-xxs);
  }
}
