@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

@font-face {
  font-family: "HoratioD";
  src:
    url("../../fonts/HoratioD/HoratioD-Bold.woff2") format("woff2"),
    url("../../fonts/HoratioD/HoratioD-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "HoratioD";
  src:
    url("../../fonts/HoratioD/HoratioD-Medium.woff2") format("woff2"),
    url("../../fonts/HoratioD/HoratioD-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "HoratioD";
  src:
    url("../../fonts/HoratioD/HoratioD-Light.woff2") format("woff2"),
    url("../../fonts/HoratioD/HoratioD-Light.woff") format("woff");
  font-weight: 300;
}

html {
  font-size: var(--root-font-size--mobile);

  @drupal-breakpoint wide_1x {
    font-size: var(--root-font-size--desktop);
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
}
