:root {
  --root-font-size--mobile: calc(0.8vw + 11px); /* 320 - 12.56px / 1023 - 18.184px */
  --root-font-size--desktop: 100%;
  --font-family-base: "Open Sans", sans-serif;
  --font-family-secondary: "HoratioD";
  --font-size-base: var(--font-size--m);
  --font-size--xxxxxxl: 3.125rem; /* 50px */
  --font-size--xxxxxl: 2.25rem; /* 36px */
  --font-size--xxxxl: 1.75rem; /* 28px */
  --font-size--xxl: 1.375rem; /* 22px */
  --font-size--xl: 1.1875rem; /* 19px */
  --font-size--l: 1.125rem; /* 18px */
  --font-size--m-plus: 1rem; /* 16px */
  --font-size--m: 0.875rem; /* 14px */
  --font-size--s-plus: 0.8125rem; /* 13px */
  --font-size--s: 0.75rem; /* 12px */
  --font-size--xs: 0.6875rem; /* 11px */
  --font-size--xxs: 0.5625rem; /* 9px */
  --font-weight-base: var(--font-weight--regular);
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--medium: 500;
  --font-weight--semibold: 600;
  --font-weight--bold: 700;
  --line-height-base: var(--line-height--m);
  --line-height--xs: 1.14;
  --line-height--m: 1.29;
  --line-height--xl: 1.45;

  /* radius */
  --border-radius: 8px;
  --border-radius--small: 4px;

  /* shadows */
  --box-shadow: 0 1px 6px 0 var(--color-1-12);
  --text-shadow: 0 2px 8px var(--color-1-50);

  /* spacings */
  --space-xxxxl: 3.75rem; /* 60px; */
  --space-xxxl: 2.8125rem; /* 45px */
  --space-xl: 1.875rem; /* 30px */
  --space-l: 1.5625rem; /* 25px */
  --space-s: 1.25rem; /* 20px */
  --space-xs: 1rem;
  --space-xxs-plus: 0.9375rem; /* 15px */
  --space-xxs: 0.75rem; /* 12px */
  --space-xxxs: 0.625rem; /* 10px */
  --space-xxxxs: 0.4375rem; /* 7px */
  --space-xxxxxs: 0.3125rem; /* 5px */
  --space-xxxxxxs: 0.25rem; /* 4px */
  --space-xxxxxxxs: 0.1875rem; /* 3px */

  /* containers */
  --site-max-width: 120rem;
  --container: 72.5rem; /* 1160px */
  --container--normal: 60rem; /* 960px */
  --container--narrow: 36.875rem; /* 590px */
  --container--medium: 45.625rem; /* 730px */

  /* transitions */
  --transition: 0.3s ease;
  --transition--less: 0.15s ease;
}
