.node--type-landing-page.node--view-mode-full {
  .field--name-carousel-banner {
    .l-site-template__main & {
      margin-top: calc(var(--site-template-header-height--mobile) * -1);

      @drupal-breakpoint wide_1x {
        margin-top: calc(var(--site-template-header-height) * -1);
      }
    }
  }

  /*
   * If "overlap:true" enabled on node, then first paragraph
   * should have negative margin, been fixed width and been above slider.
   * If first paragraph too small, then next paragraph should have
   * have fixed width too.
   * List of small paragraphs:
   *   1. Paragraph "Wysiwyg"
   *   2. Paragraph "Widget-search"
   */
  &.overlap-with-paragraph .field--name-paragraph {

    & > .field__paragraph {
      &:first-child {
        @drupal-breakpoint wide_1x {
          max-width: var(--container--normal);
          margin: 0 auto;
          /* copy/pasted from https://vacances.my_theme.fr/home */
          margin-top: -237px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      &--wysiwyg,
      &--widget-search {
        &:first-child + .field__paragraph {
          @drupal-breakpoint wide_1x {
            max-width: var(--container--normal);
            margin: 0 auto;
          }
        }
      }
    }

    @drupal-breakpoint wide_1x {
      position: relative;
      z-index: 1;
    }
  }
}

/* Background for paragraphs depends on its order */
.node--type-landing-page.node--view-mode-full {
  .field--name-paragraph > .field__paragraph {
    &:nth-child(odd) {
      background-color: var(--color-2);
    }

    &:nth-child(even) {
      background-color: var(--color-3);
    }
  }

  /*
   * If "overlap:true" enabled on node, then first paragraph
   * should be always white-bg.
   * If first paragraph too small, then next paragraph should have
   * white-bg too.
   * List of small paragraphs:
   *   1. Paragraph "Wysiwyg"
   *   2. Paragraph "Widget-search"
   */
  &.overlap-with-paragraph .field--name-paragraph > .field__paragraph {
    &--wysiwyg,
    &--widget-search {
      &:first-child {
        .m-block {
          @drupal-breakpoint wide_1x {
            padding-top: var(--space-xxs-plus);
            padding-bottom: var(--space-s);
          }
        }

        .m-block__title {
          @drupal-breakpoint wide_1x {
            padding-bottom: var(--space-xxs);
          }
        }

        form {
          @drupal-breakpoint wide_1x {
            padding: 0;
            border-radius: none;
            box-shadow: none;
          }
        }

        & + .field__paragraph {
          .m-block {
            @drupal-breakpoint wide_1x {
              padding-top: 0;
            }
          }
        }

        & ~ .field__paragraph {
          &:nth-child(2n+2) {
            @drupal-breakpoint wide_1x {
              background-color: var(--color-2);
            }
          }

          &:nth-child(2n+3) {
            @drupal-breakpoint wide_1x {
              background-color: var(--color-3);
            }
          }
        }
      }
    }
  }
}
