:root {
  --checkbox-bg-color: var(--color-2);
  --checkbox--checked-bg-color: var(--color-11);
  --checkbox-border-color: var(--color-4);
  --checkbox--focus-border-color: var(--color-11);
  --checkbox-icon-fill-color: var(--color-2);
  --checkbox-label-color: var(--color-6);
  --checkbox-size: 1.75rem; /* 28px */
}

%a-checkbox {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__icon-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    transition: all var(--transition);
    border: 1px solid var(--checkbox-border-color);
    border-radius: var(--border-radius--small);
    background: var(--checkbox-bg-color);

    &--checked {
      background-color: var(--checkbox--checked-bg-color);
    }

    &--focused {
      border-color: var(--checkbox--focus-border-color);
    }
  }

  &__icon {
    display: block;
    width: 0.9375rem; /* 15px */
    height: 0.9375rem;
    fill: transparent;

    &--checked {
      fill: var(--checkbox-icon-fill-color);
    }
  }

  &__label {
    z-index: 1;
    padding-left: calc(var(--space-xxs) + var(--checkbox-size));
    cursor: pointer;
    color: var(--checkbox-label-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight--semibold);
  }
}
