<div class="a-checkbox {{ modifier_class }}">
  <input type="checkbox" class="a-checkbox__input" id="checkbox-text">
  <div class="a-checkbox__icon-container">
    <svg class="a-checkbox__icon" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-check"></use>
    </svg>
  </div>
  <label for="checkbox-text" class="a-checkbox__label">Checkbox button</label>
</div>
