@import "_a-checkbox";

.a-checkbox {
  @extend %a-checkbox;

  &__icon {
    @extend %a-checkbox__icon;
  }

  &__icon-container {
    @extend %a-checkbox__icon-container;
  }

  &__input {
    @extend %a-checkbox__input;

    &:checked ~ .a-checkbox__icon-container {
      @extend %a-checkbox__icon-container--checked;

      .a-checkbox__icon {
        @extend %a-checkbox__icon--checked;
      }
    }

    &:focus ~ .a-checkbox__icon-container {
      @extend %a-checkbox__icon-container--focused;
    }
  }

  &__label {
    @extend %a-checkbox__label;
  }
}
