{#
/**
 * @file
 * Teaser implementation to display teaser layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'm-teaser',
  ]
%}

{%
  set colClasses = [
    content.content_left|render and not content.content_right|render ? 'm-teaser__content-col--full',
    not content.content_left|render and content.content_right|render ? 'm-teaser__content-col--full',
  ]
%}

{{ attach_library('my_theme/teaser') }}

{% if content %}
  <div{{attributes.addClass(classes)}}>
    {% if content.image|render %}
      <div {{ region_attributes.image.addClass('m-teaser__image') }}>
        {{ content.image }}
      </div>
    {% endif %}
    {% if content.content_left|render or content.content_right|render or content.content_bottom|render %}
      <div class="m-teaser__content">
        {% if content.content_left|render or content.content_right|render %}
          <div class="m-teaser__content-cols">
            {% if content.content_left|render %}
              <div {{ region_attributes.content_left.addClass('m-teaser__content-col', 'm-teaser__content-col--1', colClasses) }}>
                {{ content.content_left }}
              </div>
            {% endif %}
            {% if content.content_right|render %}
              <div {{ region_attributes.content_right.addClass('m-teaser__content-col', 'm-teaser__content-col--2', colClasses) }}>
                {{ content.content_right }}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if content.content_bottom|render %}
          <div {{ region_attributes.content_bottom.addClass('m-teaser__content-bottom') }}>
            {{ content.content_bottom }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
