:root {
  --banner-color: var(--color-2);
}

%m-banner {
  position: relative;
  overflow: hidden;
  color: var(--banner-color);

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;

    &--not-selectable {
      pointer-events: none;
    }
  }

  &__image {
    position: relative;

    img {
      vertical-align: top;
    }
  }

  &__image-bg {
    height: 55vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @drupal-breakpoint wide_1x {
      height: calc(100vh - 100px);
    }
  }

  &__subtitle {
    margin: 0;
  }

  &__title {
    margin: 0 0 var(--space-xxs);
  }

  &__text {
    margin: 0;
  }
}
