@import "_m-banner";

.m-banner {
  @extend %m-banner;

  &__content {
    @extend %m-banner__content;
  }

  &__image {
    @extend %m-banner__image;
  }

  &__title {
    @extend %m-banner__title;
  }

  &__text {
    @extend %m-banner__text;
  }
}
