<div class="m-banner {{ modifier_class }}">
  <div class="m-banner__image">
    {{ content.image }}
  </div>
  <div class="m-banner__content">
    <div class="m-banner__content-wrapper h-container">
      <h2 class="m-banner__title a-headings a-headings--size--big">{{ content.title }}</h2>
      <p class="m-banner__text a-headings a-headings--weight--regular">{{ content.text }}</p>
    </div>
  </div>
</div>
