@import "@my_theme/components/molecules/banner/_m-banner";
.paragraph--type--image-and-text {
  @extend %m-banner;

  .background-image {
    @extend %m-banner__image-bg;
  }

  .layout__region--bottom {
    @extend %m-banner__content;
    @extend %m-banner__content--not-selectable;
  }

  .field--name-wysiwyg {
    h2 {
      @extend %m-banner__title;

      + p {
        @extend %m-banner__text;
      }
    }
  }

  .field--name-media {
    @extend %m-banner__image;
  }
}
