@import "@my_theme/components/molecules/p-column/_m-p-column";

.paragraph--type--column {
  .layout__region--top {
    @extend %m-p-column__header;
  }

  .layout__region--bottom {
    @extend %m-p-column__footer;
  }

  .field--name-column-icon {
    @extend %m-p-column__icon;
  }

  .field--name-column-title {
    @extend %m-p-column__title;
  }

  .field--name-row > .field__item {
    @extend %m-p-column__row;
  }
}

.paragraph--type--table .field--name-column > .field__item {
  .paragraph--type--column {
    .layout__region--bottom {
      @drupal-breakpoint wide_1x {
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
      }
    }
  }

  &:first-child:not(:last-child) {
    .paragraph--type--column {
      .layout__region--bottom {
        @drupal-breakpoint wide_1x {
          border-right-width: 0;
        }
      }
    }
  }

  &:last-child:not(:first-child) {
    .paragraph--type--column {
      .layout__region--bottom {
        @drupal-breakpoint wide_1x {
          border-left-width: 0;
        }
      }
    }
  }

  &:nth-child(n+2) {
    .paragraph--type--column {
      .layout__region--top {
        @drupal-breakpoint mobile_1x {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        @drupal-breakpoint narrow_1x {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        @drupal-breakpoint wide_1x {
          border-top-left-radius: 0;
        }
      }

      .layout__region--bottom {
        @drupal-breakpoint wide_1x {
          position: relative;
          border-left-width: 0;
          border-bottom-left-radius: 0;

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            height: calc(100% - 24px);
            content: "";
            transform: translateY(-50%);
            border-left: 1px solid var(--color-4);
          }
        }
      }
    }
  }

  &:nth-last-child(n+2) {
    .paragraph--type--column {
      .layout__region--top {
        @drupal-breakpoint wide_1x {
          border-top-right-radius: 0;
        }
      }

      .layout__region--bottom {
        @drupal-breakpoint mobile_1x {
          border-width: 0 1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        @drupal-breakpoint narrow_1x {
          border-width: 0 1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        @drupal-breakpoint wide_1x {
          border-right-width: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
