@import "@my_theme/components/molecules/block/_m-block";
@import "@my_theme/components/atoms/headings/_a-headings";

.paragraph--type--experiences-area {
  .layout__region--title > .field--name-title {
    @extend %m-block__title;

    > h2 {
      @extend %a-headings;
    }
  }

  .field--name-experiences {

    & > * {
      @drupal-breakpoint wide_1x {
        width: 33.33%;
        padding-top: var(--space-s);
        padding-right: var(--space-xxxs);
        padding-left: var(--space-xxxs);
      }
    }

    & > *:nth-child(n+2) {
      margin-top: var(--space-xs);

      @drupal-breakpoint wide_1x {
        margin-top: 0;
      }
    }

    @drupal-breakpoint wide_1x {
      display: flex;
      margin-right: calc(var(--space-xxxs) * -1);
      margin-left: calc(var(--space-xxxs) * -1);
    }
  }
}
