@import "@my_theme/components/atoms/headings/_a-headings";

.paragraph--type--experience {
  min-height: 72px;
  padding: var(--space-xs);
  border: 1px solid var(--color-4);
  border-radius: var(--border-radius);
  background-color: var(--color-2);
  box-shadow: var(--box-shadow);

  .paragraph--type--experiences-area & {
    @drupal-breakpoint wide_1x {
      height: 100%;
    }
  }

  & > .layout--onecol {
    position: relative;
    padding-left: 58px;

    .paragraph--type--experiences-area & {
      @drupal-breakpoint wide_1x {
        height: 100%;
      }
    }

    & > .layout__region--content {
      .paragraph--type--experiences-area & {
        @drupal-breakpoint wide_1x {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }

    @drupal-breakpoint wide_1x {
      position: static;
      padding-left: 0;
    }
  }

  .field--name-media {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    padding: var(--space-xxxxs);
    border: 1px solid var(--color-4);
    border-radius: 50%;
    background-color: var(--color-2);
    box-shadow: var(--box-shadow);

    img {
      vertical-align: middle;
    }

    @drupal-breakpoint wide_1x {
      left: 50%;
      width: 56px;
      height: 56px;
      transform: translate(-50%, -50%);
    }
  }

  .field--name-title {
    @extend %a-headings;
    @extend %a-headings--size--small;
  }

  .field--name-body,
  .field--name-link {
    margin-top: var(--space-xxxs);
  }

  .field--name-link {
    .paragraph--type--experiences-area & {
      @drupal-breakpoint wide_1x {
        margin-top: auto;
      }
    }

    a {
      .paragraph--type--experiences-area & {
        @drupal-breakpoint wide_1x {
          margin-top: var(--space-xxxs);
        }
      }
    }
  }

  @drupal-breakpoint wide_1x {
    position: relative;
    min-height: 0;
    padding-top: 35px;
    text-align: center;
  }
}
