@import "@my_theme/components/atoms/headings/_a-headings";
@import "@my_theme/components/molecules/accordion/_m-accordion";

.paragraph--type--faq {
  padding-top: var(--space-xxxl);
  padding-bottom: var(--space-xxxl);

  & > .layout {
    /* to collapse borders in case or 2 paragraphs one by another    */
    margin-top: -1px;
    border: solid 1px var(--color-4);
  }

  .field--name-title {
    @extend %a-headings;
    @extend %m-accordion__title;
  }
}

.ui-accordion {
  @extend %m-accordion;

  .ui-accordion-content {
    @extend %m-accordion__content;
  }

  .ui-accordion-header {
    @extend %m-accordion__header;

    /* to prevent double border which comes from layout of this paragraph */
    margin-bottom: -1px;

    & ~ .ui-accordion-header {
      @extend %m-accordion__header--next;
    }
  }

  .ui-accordion-header-icon {
    @extend %m-accordion__icon-text;

    &:before {
      @extend %m-accordion__icon;
    }
  }

  .ui-accordion-header.ui-state-active > .ui-accordion-header-icon:before {
    @extend %m-accordion__icon--expanded;
  }
}
