@import "@my_theme/components/molecules/p-icon-label/_m-p-icon-label";

.paragraph--type--icon-label {
  @extend %m-p-icon-label;

  .field--name-icon {
    @extend %m-p-icon-label__icon-wrapper;

    img {
      @extend %m-p-icon-label__icon;
    }
  }

  .field--name-label {
    @extend %m-p-icon-label__label;
  }
}

.paragraph--type--feature {
  @extend %m-p-icon-label--flex;

  .field--name-icon {
    @extend %m-p-icon-label__icon-wrapper;
    @extend %m-p-icon-label__icon-wrapper--less;

    img {
      @extend %m-p-icon-label__icon;
      @extend %m-p-icon-label__icon--less;
    }
  }

  .field--name-text {
    @extend %m-p-icon-label__label;
    @extend %m-p-icon-label__label--bigger;
    @extend %m-p-icon-label__label--after-icon;
  }
}
