@import "@my_theme/components/atoms/link/_a-link";
@import "@my_theme/components/molecules/block/_m-block";

:root {
  --p-wysiwyg-link-chevron-size: 0.6875rem; /* 11 */
  --p-wysiwyg-link-chevron-size--mobile: 0.5rem; /* 8 */
}

.l-site-template__main .paragraph--type--wysiwyg {
  @extend %m-block;

  text-align: center;
  color: var(--color-6);
  font-size: var(--font-size--m-plus);
  line-height: var(--line-height--xl);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-7);
    font-family: var(--font-family-secondary);
  }

  a {
    @extend %a-link;
    @extend %a-link--active;
    @extend %a-link--color--primary;

    font-size: var(--font-size--m);

    svg {
      width: var(--p-wysiwyg-link-chevron-size--mobile);
      height: var(--p-wysiwyg-link-chevron-size--mobile);
      margin-left: var(--space-xxxxxxxs);
      transform: rotate(180deg);
      fill: var(--color-13);

      @drupal-breakpoint wide_1x {
        width: var(--p-wysiwyg-link-chevron-size);
        height: var(--p-wysiwyg-link-chevron-size);
        margin-left: var(--space-xxxxxxs);
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @drupal-breakpoint wide_1x {
      font-size: var(--font-size--l);
    }
  }

  .field--name-wysiwyg {
    & > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @drupal-breakpoint wide_1x {
      padding-right: var(--space-xxxl);
      padding-left: var(--space-xxxl);
    }
  }

  @drupal-breakpoint wide_1x {
    font-size: var(--font-size--l);
  }
}
