:root {
  --button-height: 3.25rem; /* 52 */
  --button-height--small: 2.75rem; /* 44 */
  --button-height--smallest: 2.125rem; /* 34 */
  --button-side-offset: 1.375rem; /* 22 */
  --button-side-offset--smallest: 0.75rem; /* 12 */
  --button-icon-size: 1.5rem; /* 24 */
  --button-icon-size--small: 1rem;
  --button-icon-size--smallest: 0.75rem; /* 12 */
  --button-icon-side-offset: 0.625rem; /* 10 */
  --button-icon-side-offset--small: 0.5rem; /* 8 */
  --button-icon-side-offset--smallest: 0.375rem; /* 6 */
  --button-color: var(--color-2);
  --button--reversed-color: var(--color-6);
  --button--reversed--hover-color: var(--color-11);
  --button--secondary-color: var(--color-13);
  --button-bg-color: var(--color-13);
  --button--reversed-bg-color: var(--color-2);
  --button--hover-bg-color: var(--color-14);
  --button--secondary-bg-color: var(--color-2);
  --button--reversed-border-color: var(--color-6);
  --button--reversed--hover-border-color: var(--color-11);
  --button--secondary-border-color: var(--color-6);
  --button--secondary-hover-border-color: var(--color-13);
  --button-transition--default-bg: var(--color-10);
}

%a-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  margin: 0;
  padding: 0 var(--button-side-offset);
  cursor: pointer;
  transform: scale(1, 1);
  color: var(--button-color);
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--button-bg-color);
  box-shadow: none;
  text-shadow: none;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size--xxl);
  font-weight: var(--font-weight--medium);
  appearance: none;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--button--hover-bg-color);
  }

  &:active {
    transform: scale(0.94, 0.94);
  }

  &--color {
    &--active {
      color: var(--button--reversed--hover-color);
      border-color: var(--button--reversed--hover-border-color);
      background-color: var(--button--reversed-bg-color);
    }

    &--reversed {
      color: var(--button--reversed-color);
      border: 1px solid var(--button--reversed-border-color);
      background-color: var(--button--reversed-bg-color);

      &:hover,
      &:focus {
        color: var(--button--reversed--hover-color);
        border-color: var(--button--reversed--hover-border-color);
        background-color: var(--button--reversed-bg-color);
      }
    }

    &--secondary {
      text-decoration: underline;
      color: var(--button--secondary-color);
      border: 1px solid var(--button--secondary-border-color);
      background-color: var(--button--secondary-bg-color);

      &:hover,
      &:focus {
        text-decoration: underline;
        border-color: var(--button--secondary-hover-border-color);
        background-color: var(--button--secondary-bg-color);
      }
    }
  }

  &--no-animation {
    &:active {
      transform: scale(1, 1);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--more-round {
    border-radius: 26px;
  }

  &--no-round {
    border-radius: 0;
  }

  &--no-border {
    border: 0;
  }

  &--no-decoration {
    text-decoration: none;
  }

  &--small {
    height: var(--button-height--small);
  }

  &--small-on-mobile {
    @drupal-breakpoint mobile_1x {
      height: var(--button-height--small);
    }

    @drupal-breakpoint narrow_1x {
      height: var(--button-height--small);
    }
  }

  &--smallest {
    height: var(--button-height--smallest);
    padding-right: var(--button-side-offset--smallest);
    padding-left: var(--button-side-offset--smallest);
    font-size: var(--font-size--xl);
  }

  &__icon {
    width: var(--button-icon-size);
    max-width: none;
    height: var(--button-icon-size);
    vertical-align: top;
    fill: var(--color-2);

    &--small {
      width: var(--button-icon-size--small);
      height: var(--button-icon-size--small);
    }

    &--small-on-mobile {
      @drupal-breakpoint mobile_1x {
        width: var(--button-icon-size--small);
        height: var(--button-icon-size--small);
      }

      @drupal-breakpoint narrow_1x {
        width: var(--button-icon-size--small);
        height: var(--button-icon-size--small);
      }
    }

    &--smallest {
      width: var(--button-icon-size--smallest);
      height: var(--button-icon-size--smallest);
    }

    &--color {
      &--secondary {
        fill: var(--color-13);
      }
    }

    &--rotate {
      &--180 {
        transform: rotate(180deg);
      }
    }

    &--left-side {
      margin-right: var(--button-icon-side-offset);

      &--small {
        margin-right: var(--button-icon-side-offset--small);
      }

      &--small-on-mobile {
        @drupal-breakpoint mobile_1x {
          margin-right: var(--button-icon-side-offset--small);
        }

        @drupal-breakpoint narrow_1x {
          margin-right: var(--button-icon-side-offset--small);
        }
      }

      &--smallest {
        margin-right: var(--button-icon-side-offset--smallest);
      }
    }

    &--right-side {
      margin-left: var(--button-icon-side-offset);

      &--small {
        margin-left: var(--button-icon-side-offset--small);
      }

      &--small-on-mobile {
        @drupal-breakpoint mobile_1x {
          margin-left: var(--button-icon-side-offset--small);
        }

        @drupal-breakpoint narrow_1x {
          margin-left: var(--button-icon-side-offset--small);
        }
      }

      &--smallest {
        margin-left: var(--button-icon-side-offset--smallest);
      }
    }
  }

  &--unset {
    padding: 0;
    border: 0;
    background: none;
    font: inherit;
    appearance: none;
  }

  &--transition {
    transition: var(--transition--less);

    &--default {
      &:hover,
      &:focus {
        background-color: var(--button-transition--default-bg);
      }
    }
  }
}
