<br>
&nbsp;<button class="a-button {{ button_modifiers }}">
  {% if svg and svg_before %}
    <svg class="a-button__icon a-button__icon--left-side {{ svg_modifiers }}" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-phone"></use>
    </svg>
  {% endif %}
  {{ content.button }}
  {% if svg and svg_after %}
    <svg class="a-button__icon a-button__icon--right-side {{ svg_modifiers }}" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-phone"></use>
    </svg>
  {% endif %}
</button>
<br>
<br>
&nbsp;<a href="#" class="a-button {{ button_modifiers }}">
  {% if svg and svg_before %}
    <svg class="a-button__icon a-button__icon--left-side {{ svg_modifiers }}" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-phone"></use>
    </svg>
  {% endif %}
  {{ content.link }}
  {% if svg and svg_after %}
    <svg class="a-button__icon a-button__icon--right-side {{ svg_modifiers }}" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-phone"></use>
    </svg>
  {% endif %}
</a>
<br>
<br>
&nbsp;<input type="submit" class="a-button {{ button_modifiers }}" value="{{ content.input }}" />
