@import "_a-button";

.a-button {
  @extend %a-button;

  &--full-width {
    @extend %a-button--full-width;
  }

  &--more-round {
    @extend %a-button--more-round;
  }

  &--no-round {
    @extend %a-button--no-round;
  }

  &--no-border {
    @extend %a-button--no-border;
  }

  &--no-decoration {
    @extend %a-button--no-decoration;
  }

  &--small {
    @extend %a-button--small;
  }

  &--small-on-mobile {
    @extend %a-button--small-on-mobile;
  }

  &--smallest {
    @extend %a-button--smallest;
  }

  &--color {
    &--reversed {
      @extend %a-button--color--reversed;
    }

    &--secondary {
      @extend %a-button--color--secondary;
    }
  }

  &__icon {
    @extend %a-button__icon;

    &--small {
      @extend %a-button__icon--small;
    }

    &--small-on-mobile {
      @extend %a-button__icon--small-on-mobile;
    }

    &--smallest {
      @extend %a-button__icon--smallest;
    }

    &--color {
      &--secondary {
        @extend %a-button__icon--color--secondary;
      }
    }

    &--rotate {
      &--180 {
        @extend %a-button__icon--rotate--180;
      }
    }

    &--left-side {
      @extend %a-button__icon--left-side;

      &--small {
        @extend %a-button__icon--left-side--small;
      }

      &--small-on-mobile {
        @extend %a-button__icon--left-side--small-on-mobile;
      }

      &--smallest {
        @extend %a-button__icon--left-side--smallest;
      }
    }

    &--right-side {
      @extend %a-button__icon--right-side;

      &--small {
        @extend %a-button__icon--right-side--small;
      }

      &--small-on-mobile {
        @extend %a-button__icon--right-side--small-on-mobile;
      }

      &--smallest {
        @extend %a-button__icon--right-side--smallest;
      }
    }
  }

  &--unset {
    @extend %a-button--unset;
  }

  &--transition {
    @extend %a-button--transition;

    &--default {
      @extend %a-button--transition--default;
    }
  }
}
