.path-contact {
  .block-region-fourth-region {
    padding-top: var(--space-xxxxl);
    background-color: var(--color-bg-page);
  }

  .webform-submission-contact-form {
    /* this is common white block */
    /* TODO: move it to separated component */
    padding: var(--space-xl);
    background-color: var(--color-bg);
    box-shadow: var(--box-shadow);
  }
}
