:root {
  --lang-switcher-flag-size-width: 1.5rem; /* 24 */
  --lang-switcher-flag-size-height: 0.875rem; /* 14 */
  --lang-switcher-flag-size-width--mobile: 2.5rem; /* 40 */
  --lang-switcher-flag-size-height--mobile: 1.6875rem; /* 27 */
  --lang-switcher-item-height: 2.125rem; /* 34 */
  --lang-switcher-item-height--mobile: 2.875rem; /* 46 */
}

.lang-switcher {
  border-radius: var(--border-radius);

  &__button {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    text-align: left;
    border: 0;
    border: 1px solid var(--color-4);
    border-radius: var(--border-radius);
    background: none;
    background-color: var(--color-2);
    -webkit-appearance: none;

    &--active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__button-content,
  .language-link {
    display: flex;
    align-items: center;

    & svg {
      width: var(--lang-switcher-flag-size-width--mobile);
      height: var(--lang-switcher-flag-size-height--mobile);
      margin-right: var(--space-xs);
      vertical-align: middle;

      @drupal-breakpoint wide_1x {
        width: var(--lang-switcher-flag-size-width);
        height: var(--lang-switcher-flag-size-height);
        margin-right: var(--space-xxxxs);
      }
    }
  }

  &__button-arrow {
    margin-left: var(--space-xxxs);

    & svg {
      display: block;
      width: var(--font-size--s);
      height: var(--font-size--s);
      transform: rotate(-90deg);
      fill: var(--color-7);

      @drupal-breakpoint wide_1x {
        width: var(--font-size--xxs);
        height: var(--font-size--xxs);
      }
    }

    &--active {
      & svg {
        transform: rotate(90deg);
      }
    }

    @drupal-breakpoint wide_1x {
      margin-left: var(--space-xxxxxs);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &:nth-child(n+2) {
      border-top: 1px solid var(--color-4);
    }
  }

  .language-link {
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: var(--color-4);
    }
  }

  &__button,
  .language-link {
    height: var(--lang-switcher-item-height--mobile);
    padding: 0 var(--space-xs);
    font-size: var(--font-size--m-plus);
    font-weight: var(--font-weight--semibold);
    line-height: var(--line-height--xs);

    @drupal-breakpoint wide_1x {
      height: var(--lang-switcher-item-height);
      padding: 0 var(--space-xxxs);
      font-size: var(--font-size--s);
      font-weight: var(--font-weight--regular);
    }
  }

  &__dropdown {
    display: none;
    overflow: hidden;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--color-4);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--color-2);

    &--active {
      display: block;
    }

    @drupal-breakpoint wide_1x {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }

  @drupal-breakpoint wide_1x {
    position: relative;
    box-shadow: var(--box-shadow);
  }
}
