%m-block {
  display: block;
  padding: var(--space-xl) 0 var(--space-xxxl);

  &__title {
    padding-bottom: var(--space-xl);
    text-align: center;
  }

  &--bg {
    background-color: var(--color-2);

    &--secondary {
      background-color: var(--color-3);
    }
  }
}
