<div class="m-block {{ modifier_class }}">
  <div class="m-block__title h-container a-headings">{{ content.content }}</div>
  <div class="m-block__content h-container">{{ content.content }}</div>
</div>
