{#
/**
 * @file
 * Default theme implementation to display a ten-regions layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'l-site-template',
  ]
%}

{% set headerClasses = 'l-site-template__header' %}
{% if content.pink_header and content.pink_header == true %}
  {% set headerClasses = headerClasses ~ ' l-site-template__header--pink' %}
{% endif %}

{{ attach_library('my_theme/site-template') }}
{% if content %}
  <div{{attributes.addClass(classes)}}>
    {% if content.first_region or content.second_region or content.third_region %}
      <header class="{{ headerClasses }}" role="banner">
        <div class="h-container">
          <div class="l-site-template__header-content">
            {% if content.first_region or content.second_region %}
              <div class="l-site-template__header-left">
                {% if content.second_region %}
                  <button class="no-button l-site-template__iconic-button l-site-template__iconic-button--burger" aria-label="{{ 'Show side menu' | trans }}" aria-expanded="false">
                    <svg aria-hidden="true">
                      <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-burger"></use>
                    </svg>
                  </button>
                {% endif %}
                {% if content.first_region %}
                  <div {{ region_attributes.first_region.addClass('l-site-template__logo') }}>
                    {{ content.first_region }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
            {% if content.second_region or content.third_region %}
              <div class="l-site-template__header-right">
                {% if content.second_region %}
                  <div class="l-site-template__overlay"></div>
                  <div {{ region_attributes.second_region.addClass('l-site-template__side-nav') }}>
                    <div class="l-site-template__side-nav-header">
                      <button class="no-button l-site-template__iconic-button l-site-template__iconic-button--cross" aria-label="{{ 'Hide side menu' | trans }}" aria-expanded="false">
                        <svg aria-hidden="true">
                          <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-cross"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="l-site-template__side-nav-content">
                      {{ content.second_region }}
                    </div>
                  </div>
                {% endif %}
                {% if content.third_region %}
                  <div{{ region_attributes.third_region.addClass('l-site-template__contact') }}>
                    {{ content.third_region }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </header>
    {% endif %}
    {% if content.fourth_region %}
      <main class="l-site-template__main" role="main">
        <div {{ region_attributes.fourth_region.addClass('l-site-template__content') }}>
          {{ content.fourth_region }}
        </div>
      </main>
    {% endif %}
    {% if content.fifth_region or content.sixth_region or content.seventh_region or content.eighth_region or content.ninth_region or content.tenth_region %}
      <footer class="l-site-template__footer" role="contentinfo">
        {% if content.fifth_region %}
          <div {{ region_attributes.fifth_region.addClass('l-site-template__footer-item', 'l-site-template__footer-item--1') }}>
            {{ content.fifth_region }}
          </div>
        {% endif %}
        {% if content.sixth_region %}
          <div {{ region_attributes.sixth_region.addClass('l-site-template__footer-item', 'l-site-template__footer-item--2') }}>
            <div class="h-container">
              {{ content.sixth_region }}
            </div>
          </div>
        {% endif %}
        {% if content.seventh_region %}
          <div {{ region_attributes.seventh_region.addClass('l-site-template__footer-item', 'l-site-template__footer-item--3') }}>
            {{ content.seventh_region }}
          </div>
        {% endif %}
        {% if content.eighth_region %}
          <div {{ region_attributes.eighth_region.addClass('l-site-template__footer-item', 'l-site-template__footer-item--4') }}>
            <div class="h-container">
              {{ content.eighth_region }}
            </div>
          </div>
        {% endif %}
        {% if content.ninth_region %}
          <div {{ region_attributes.ninth_region.addClass('l-site-template__footer-item', 'l-site-template__footer-item--5') }}>
            <div class="h-container">
              {{ content.ninth_region }}
            </div>
          </div>
        {% endif %}
        {% if content.tenth_region %}
          <div {{ region_attributes.tenth_region.addClass('l-site-template__footer-item', 'l-site-template__footer-item--6') }}>
            <div class="h-container">
              {{ content.tenth_region }}
            </div>
          </div>
        {% endif %}
      </footer>
    {% endif %}
  </div>
{% endif %}
