{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% if items %}
  <ul class="social-networks">
  {% for item in items %}
    <li class="social-networks__item social-networks__item--{{ item.title|lower }}">
      <a href="{{ item.url }}">
        <svg aria-hidden="true">
          <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-{{ item.title|lower }}"></use>
        </svg>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endif %}
