:root {
  --teaser-icon-size: 35px;
}

%m-teaser {
  overflow: hidden;
  white-space: normal;
  border-radius: 8px;

  &--banner {
    @drupal-breakpoint wide_1x {
      position: relative;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: var(--space-xs);
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--color-4);
    border-radius: 0 0 8px 8px;
    background-color: var(--color-2);

    &--banner {
      background-color: transparent;

      @drupal-breakpoint wide_1x {
        position: absolute;
        top: 50%;
        left: 0;
        padding: var(--space-xxxxl) var(--space-xxxl);
        transform: translateY(-50%);
        color: var(--color-2);
        border: 0;
        text-shadow: var(--text-shadow);
      }

      @drupal-breakpoint large_1x {
        max-width: 400px;
      }
    }

    & > *:nth-child(n+2) {
      margin-top: var(--space-xs);
    }

    h3 {
      margin: 0;
    }

    &-cols {
      display: flex;
      flex-grow: 0;
      justify-content: space-between;
    }

    &-col {
      &--1 {
        width: calc(100% - var(--teaser-icon-size) - var(--space-xs));
      }

      &--2 {
        flex-shrink: 0;
        width: var(--teaser-icon-size);
        margin-left: var(--space-xs);
      }

      &--full {
        width: 100%;
        margin-left: 0;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-button-wrapper {
      margin-top: auto;
    }

    &-button {
      margin: var(--space-xs) 0 0;

      &--secondary {
        margin: var(--space-xs) calc(var(--space-xs) * -1) calc(var(--space-xs) * -1);
      }
    }
  }

  img {
    width: 100%;
    vertical-align: top;
  }
}
