<div class="m-teaser {{ modifier_class }}" style="width:{{teaser_width}}">
  <div class="m-teaser__image">
    {{ content.image | raw }}
  </div>
  <div class="m-teaser__content">
    <div class="m-teaser__content-cols">
      <div class="m-teaser__content-col m-teaser__content-col--1">
        <h3>{{ content.title }}</h3>
        {{ content.subtitle }}
      </div>
      <div class="m-teaser__content-col m-teaser__content-col--2">
        {{ content.icon | raw }}
      </div>
    </div>
    <div class="m-teaser__content-bottom">
      {{ content.bottom }}
      <div class="m-teaser__content-button-wrapper">
        <div class="m-teaser__content-button {{content_button_modifier_class}}">
          <button class="a-button a-button--small a-button--more-round a-button--no-animation a-button--full-width {{button_modifier_class}}">
            {{ content.button }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
