@import "_m-teaser";

.m-teaser {
  @extend %m-teaser;

  &__content {
    @extend %m-teaser__content;
  }

  &__content-cols {
    @extend %m-teaser__content-cols;
  }

  &__content-col--1 {
    @extend %m-teaser__content-col--1;
  }

  &__content-col--2 {
    @extend %m-teaser__content-col--2;
  }

  &__content-col--full {
    @extend %m-teaser__content-col--full;
  }

  &__content-bottom {
    @extend %m-teaser__content-bottom;
  }

  &__content-button-wrapper {
    @extend %m-teaser__content-button-wrapper;
  }

  &__content-button {
    @extend %m-teaser__content-button;

    &--secondary {
      @extend %m-teaser__content-button--secondary;
    }
  }

  &--banner {
    @extend %m-teaser--banner;

    .m-teaser__content {
      @extend %m-teaser__content--banner;
    }
  }

  .o-teasers-carousel & {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > *:first-child {
      flex-grow: 0;
    }

    & > *:last-child {
      flex-grow: 1;
    }
  }
}
