@import "@my_theme/components/molecules/block/_m-block";

.m-block {
  @extend %m-block;

  &__title {
    @extend %m-block__title;

    h2 {
      margin: 0;
    }
  }

  &--bg {
    &--secondary {
      @extend %m-block--bg--secondary;
    }
  }
}
