@import "@my_theme/components/atoms/button/_a-button";

.button {
  @extend %a-button;

  &--more-round {
    @extend %a-button--more-round;
  }

  &--no-round {
    @extend %a-button--no-round;
  }

  &--no-border {
    @extend %a-button--no-border;
  }

  &--no-decoration {
    @extend %a-button--no-decoration;
  }

  &--full-width {
    @extend %a-button--full-width;
  }

  &--small {
    @extend %a-button--small;
  }

  &--small-on-mobile {
    @extend %a-button--small-on-mobile;
  }

  &--smallest {
    @extend %a-button--smallest;
  }

  &--color {
    &--reversed {
      @extend %a-button--color--reversed;
    }

    &--secondary {
      @extend %a-button--color--secondary;
    }
  }

  &__icon {
    @extend %a-button__icon;

    &--small {
      @extend %a-button__icon--small;
    }

    &--small-on-mobile {
      @extend %a-button__icon--small-on-mobile;
    }

    &--smallest {
      @extend %a-button__icon--smallest;
    }

    &--color {
      &--secondary {
        @extend %a-button__icon--color--secondary;
      }
    }

    &--rotate {
      &--180 {
        @extend %a-button__icon--rotate--180;
      }
    }

    &--left-side {
      @extend %a-button__icon--left-side;

      &--small {
        @extend %a-button__icon--left-side--small;
      }

      &--small-on-mobile {
        @extend %a-button__icon--left-side--small-on-mobile;
      }

      &--smallest {
        @extend %a-button__icon--left-side--smallest;
      }
    }

    &--right-side {
      @extend %a-button__icon--right-side;

      &--small {
        @extend %a-button__icon--right-side--small;
      }

      &--small-on-mobile {
        @extend %a-button__icon--right-side--small-on-mobile;
      }

      &--smallest {
        @extend %a-button__icon--right-side--smallest;
      }
    }
  }

  &--transition {
    @extend %a-button--transition;

    &--default {
      @extend %a-button--transition--default;
    }
  }
}

.no-button {
  @extend %a-button--unset;
}

.webform-buttons {
  .ui-button {
    @extend %a-button;
    @extend %a-button--small;
    @extend %a-button--color--reversed;

    &.ui-checkboxradio-checked {
      @extend %a-button--color--active;
    }
  }
}

.m-teaser {
  .node__links a {
    @extend %a-button;
    @extend %a-button--small;
    @extend %a-button--more-round;
    @extend %a-button--no-animation;
    @extend %a-button--full-width;
  }

  &--secondary .node__links a {
    @extend %a-button--no-round;
  }

  &--banner .node__links a {
    @drupal-breakpoint wide_1x {
      border-radius: 8px;
    }
  }
}

.paragraph--type--widget-search,
.block.my_theme-widget-search-form {
  .form-actions .form-submit {
    @extend %a-button--transition;
    @extend %a-button--transition--default;
  }
}
