@import "@my_theme/components/molecules/datepicker/_m-datepicker";

.ui-datepicker {
  @extend %m-datepicker;

  .ui-datepicker-prev,
  .ui-datepicker-next {
    @extend %m-datepicker__control;
  }

  .ui-datepicker-next:before {
    @extend %m-datepicker__arrow;
  }

  .ui-datepicker-prev:before {
    @extend %m-datepicker__arrow;
    @extend %m-datepicker__arrow--left;
  }

  .ui-datepicker-title {
    @extend %m-datepicker__title;
  }

  .ui-datepicker-calendar {
    th {
      @extend %m-datepicker__day-title;
    }

    td {
      @extend %m-datepicker__cell;
    }

    .ui-state-default {
      @extend %m-datepicker__link;
    }

    .ui-datepicker-other-month,
    .ui-state-disabled {
      @extend %m-datepicker__cell--disabled;
    }

    .ui-datepicker-today a {
      @extend %m-datepicker__link--current;
    }

    .daterange-start a,
    .date-selected-range a,
    .daterange-end a {
      @extend %m-datepicker__link--active;
    }
  }
}
