@import "@my_theme/components/atoms/headings/headings";

.paragraph--type--image-and-text {
  .field--name-wysiwyg {
    @extend %a-headings--shadow;

    h1,
    h2 {
      @extend %a-headings;
      @extend %a-headings--size--big;
    }

    p {
      @extend %a-headings;
      @extend %a-headings--weight--regular;
    }
  }
}

.paragraph--type--widget-search,
.block.my_theme-widget-search-form {
  & > h2,
  .field--name-my_theme-widget-search-title h2 {
    @extend %a-headings;
  }
}

.webform-confirmation__message h2 {
  @extend %a-headings;
}

.node--type-landing-page.node--view-mode-teaser-highlight,
.node--type-landing-page.node--view-mode-teaser {
  .field--name-title > * {
    @extend %a-headings;
    @extend %a-headings--size--small;
  }
}

.node--type-landing-page.node--view-mode-highlight {
  .field--name-title > * {
    @extend %a-headings;
  }
}

.l-site-template__main .paragraph--type--wysiwyg .field--name-wysiwyg {
  h1 {
    @extend %a-headings;
    @extend %a-headings--size--big;
  }

  h2 {
    @extend %a-headings;
    @extend %a-headings--size--normal;
  }

  h3 {
    @extend %a-headings;
  }

  h4 {
    @extend %a-headings;
    @extend %a-headings--size--small;
  }
}
