@import "@my_theme/components/atoms/input-text/_a-input-text";

.a-input-text,
.form-date,
.form-email,
.form-number,
.form-tel,
.form-text,
.form-time,
.form-url,
textarea {
  @extend %a-input-text;
}

.form-item-startdate,
.form-item-enddate {
  position: relative;
}

.datepicker-icon {
  position: absolute;
  top: 50%;
  right: var(--space-xs);
  width: var(--font-size--l);
  height: var(--font-size--l);
  fill: var(--color-5);
  transform: translateY(-50%);
  pointer-events: none;

  & + input {
    padding-right: var(--space-xxxl);
  }
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel] {
  padding-left: 62px;
}

[lang="nl"] {
  .paragraph--type--widget-search,
  .block.my_theme-widget-search-form {
    .form-type-textfield .form-text {
      font-size: 0.8125rem; /* 13 */

      @drupal-breakpoint narrow_1x {
        font-size: 0.75rem; /* 12 */
      }

      @drupal-breakpoint mobile_1x {
        font-size: 0.75rem; /* 12 */
      }
    }
  }
}

.paragraph--type--widget-search,
.block.my_theme-widget-search-form {
  .form-item-searchterm .form-text {
    @extend %a-input-text--secondary;
  }
}
