.l-site-template__overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0;
  background-color: var(--color-1);

  &--active {
    visibility: visible;
    opacity: 0.44;
  }
}
