@import "@my_theme/components/atoms/select/_a-select";

.a-select {
  @extend %a-select;

  &__box {
    @extend %a-select__box;
  }

  &__icon {
    @extend %a-select__icon;
  }

  &__menu {
    @extend %a-select__menu;

    .ui-menu-item-wrapper {
      @extend %a-select__menu-item;

      &.ui-state-active {
        @extend %a-select__menu-item--active;
      }
    }
  }

  .ui-selectmenu-button.ui-button {
    width: 100%;
  }

  .ui-selectmenu-button-open + .a-select__icon {
    @extend %a-select__icon--active;
  }
}

.intl-tel-input {
  .country-list {
    @extend %a-select__menu;

    .country {
      @extend %a-select__menu-item;

      &.highlight {
        @extend %a-select__menu-item--active;
      }
    }
  }

  .selected-flag {
    @extend %a-select__flag;
  }
}

.my_theme-search-autocomplete {
  @extend %a-select__menu;
  @extend %a-select__menu--fixed-height;

  .ui-menu-item:first-child {
    .ui-menu-item-wrapper {
      @extend %a-select__group;
    }
  }

  .ui-menu-item-wrapper {
    @extend %a-select__menu-item;

    &.ui-state-active {
      @extend %a-select__menu-item--active;
    }
  }

  .destination-icon {
    @extend %a-select__destination-icon;
  }

  .destination-label-type {
    @extend %a-select__destination-label;
    @extend %a-select__destination-label--small;
  }

  .destination-label-main {
    @extend %a-select__destination-label;
    @extend %a-select__destination-label--main;
  }

  .destination-row {
    @extend %a-select__destination-row;
  }

  @drupal-breakpoint mobile_1x {
    max-height: calc(100vh - 10rem);
  }
}
