{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set buttonClasses = 'button button--smallest' %}
{% set buttonIconClasses = 'button__icon button__icon--smallest button__icon--left-side button__icon--left-side--smallest' %}
{% if attributes.hasClass('block-content--phone--white') %}
  {% set buttonClasses = buttonClasses ~ ' button--color--secondary button--no-border button--no-decoration' %}
  {% set buttonIconClasses = buttonIconClasses ~ ' button__icon--color--secondary' %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if content %}
      <div class="block-phone-content" >
        {% if content._field_layout.content.phone_number %}
          <a href="{{ content._field_layout.content.phone_number[0]['#url'].uri }}" class="{{ buttonClasses }}">
            <svg class="{{ buttonIconClasses }}" aria-hidden="true">
              <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-{{ content._field_layout.content.svg_icon_name.0 }}"></use>
            </svg>
            {{ content._field_layout.content.phone_number[0]['#title'] }}
          </a>
        {% endif %}
        </div>
    {% endif %}
  {% endblock %}
</div>
