@import "@my_theme/components/atoms/slider-arrow/slider-arrow";
@import "@my_theme/components/atoms/slider-pagination/slider-pagination";
@import "swiper/dist/css/swiper";
@import "@my_theme/components/organisms/banner-slider/_o-banner-slider";
@import "@my_theme/components/organisms/teaser-slider/_o-teaser-slider";

.swiper-wrapper {
  box-sizing: inherit;
}

.swiper-slide {
  height: auto;

  & > .node,
  & > .node > .node__content,
  .m-teaser {
    height: 100%;
  }

  .m-teaser {
    display: flex;
    flex-direction: column;

    &__image {
      flex-grow: 0;
    }

    &__content {
      flex-grow: 1;
    }

    @drupal-breakpoint wide_1x {
      &--banner {
        .m-teaser__image {
          height: 100%;

          article,
          div {
            height: 100%;
          }

          img {
            min-width: 100%;
            max-width: none;
            min-height: 100%;
          }
        }
      }
    }
  }
}

.o-banner-slider {
  @extend %o-banner-slider;

  &__arrow {
    @extend %o-banner-slider__arrow;

    &--left {
      @extend %o-banner-slider__arrow--left;
    }

    &--right {
      @extend %o-banner-slider__arrow--right;
    }
  }
}

.o-teaser-slider {
  @extend %o-teaser-slider;

  &__container {
    @extend %o-teaser-slider__container;
  }

  &__slider--container {
    @extend %o-teaser-slider__slider--container;
  }

  &__arrow {
    @extend %o-teaser-slider__arrow;

    &--left {
      @extend %o-teaser-slider__arrow--left;
    }

    &--right {
      @extend %o-teaser-slider__arrow--right;
    }
  }

  &__pagination {
    @extend %o-teaser-slider__pagination;
  }

  &--with-highlights {
    .o-teaser-slider__item {
      @extend %o-teaser-slider--with-highlights__item;

      &.o-teaser-slider__item--number-1 {
        @extend %o-teaser-slider--with-highlights__item--highlighted;
      }
    }
  }
}

.o-teaser-slider--in-small-container,
.o-teaser-slider--with-highlights--in-small-container {
  .o-teaser-slider__arrow {
    &--left {
      @extend %o-teaser-slider__arrow--left-in-small-container;
    }

    &--right {
      @extend %o-teaser-slider__arrow--right-in-small-container;
    }
  }
}
