:root {
  --ui-dialog-close-btn-size: 0.75rem; /* 12 */
}

.ui-dialog-titlebar {
  display: flex;
  justify-content: space-between;
  padding: var(--space-xxxs);

  &::before,
  &::after {
    display: none;
  }
}

.ui-dialog-titlebar-close {
  margin: 0;
  padding: 0;
  text-indent: 0;

  svg {
    width: var(--ui-dialog-close-btn-size);
    height: var(--ui-dialog-close-btn-size);
  }
}
