@import "@my_theme/components/organisms/modal/_o-modal";

.o-modal {
  @extend %o-modal;

  &__close {
    @extend %o-modal__close;

    &--left {
      @extend %o-modal__close--left;
    }
  }

  &__content {
    @extend %o-modal__content;
  }

  &__header {
    @extend %o-modal__header;
  }

  &__icon {
    @extend %o-modal__icon;
  }

  &__title {
    @extend %o-modal__title;
  }
}
