.menu--main {
  .menu-item {
    margin-right: calc(var(--space-s) * -1);
    margin-left: calc(var(--space-s) * -1);
    padding-right: var(--space-s);
    padding-left: var(--space-s);
    border-bottom: 1px solid var(--color-4);
    background-color: var(--color-2);

    @drupal-breakpoint wide_1x {
      margin-right: 0;
      margin-left: 0;
      padding-right: var(--space-s);
      padding-left: var(--space-s);
      border-bottom: 0;
      background-color: transparent;
    }
  }

  .menu-item__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.0625rem; /* 65 */
    margin-right: calc(var(--space-s) * -1);

    @drupal-breakpoint wide_1x {
      flex-shrink: 0;
      width: 0.5625rem; /* 9 */
      margin-right: 0;
      margin-left: var(--space-xxxxxs);
    }
  }

  .menu-item__icon {
    display: block;
    width: 1.125rem; /* 18 */
    height: 1.125rem; /* 18 */
    fill: var(--color-9);

    &--minus {
      display: none;
    }

    &--plus {
      @drupal-breakpoint wide_1x {
        display: none;
      }
    }

    &--arrow {
      display: none;
      transform: rotate(-90deg);

      @drupal-breakpoint wide_1x {
        display: block;
      }
    }

    @drupal-breakpoint wide_1x {
      width: 0.5625rem; /* 9 */
      height: 0.5625rem; /* 9 */
      fill: var(--color-2);
    }
  }

  .menu-item--expanded {
    & > .menu {
      display: none;

      .menu {
        @drupal-breakpoint wide_1x {
          top: 0;
          left: 100%;
          min-width: 0;
          transform: none;
        }
      }

      @drupal-breakpoint wide_1x {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 15.625rem; /* 250 */
        transform: translateX(-50%);
        background-color: var(--color-2);
      }
    }

    &.menu-item--active {
      border-bottom: 0;

      & > .menu {
        display: block;
      }

      & > .menu-item__container .menu-item__icon {
        &--plus {
          display: none;
        }

        &--minus {
          display: block;

          @drupal-breakpoint wide_1x {
            display: none;
          }
        }
      }
    }

    &:hover > .menu {
      @drupal-breakpoint wide_1x {
        display: block;
      }
    }

    @drupal-breakpoint wide_1x {
      position: relative;
    }
  }

  .menu-item__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 3.875rem; /* 62 */

    & > a {
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: var(--space-s);
      padding-bottom: var(--space-s);
      font-size: var(--font-size--l);
      font-weight: var(--font-weight--semibold);

      @drupal-breakpoint wide_1x {
        display: inline-block;
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: top;
        color: var(--color-2);
        font-size: var(--font-size--s);
        font-weight: var(--font-weight--semibold);
      }
    }

    &--expanded {
      cursor: pointer;

      & > a {
        width: calc(100% - 4.0625rem + var(--space-s));

        @drupal-breakpoint wide_1x {
          width: auto;
        }
      }

      @drupal-breakpoint wide_1x {
        cursor: default;
      }
    }

    @drupal-breakpoint wide_1x {
      align-items: center;
      min-height: 2.5rem; /* 40 */
      padding-top: var(--space-xxxxxs);
      padding-bottom: var(--space-xxxxxs);
    }

    /* Fix for IE11 */
    @media screen (min-width: 1024px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 2.5rem; /* 40 */
    }
  }

  .menu .menu {

    .menu {
      @drupal-breakpoint wide_1x {
        top: calc(var(--space-xxs-plus) * -1);
      }
    }

    .menu-item__icon--arrow {
      @drupal-breakpoint wide_1x {
        fill: var(--color-10);
        transform: rotate(180deg);
      }
    }

    .menu-item {
      border-bottom-color: var(--color-2);
      background-color: var(--color-4);

      & > .menu-item__container > a {
        color: var(--color-9);
        font-size: var(--font-size--s-plus);
        font-weight: var(--font-weight--bold);

        @drupal-breakpoint wide_1x {
          color: var(--color-10);
          font-size: var(--font-size--s);
          font-weight: var(--font-weight--semibold);
        }
      }

      .menu-item {
        border-bottom-color: var(--color-4);
        background-color: var(--color-2);

        & > .menu-item__container > a {
          color: inherit;
          font-size: var(--font-size--m);
          font-weight: var(--font-weight--semibold);

          @drupal-breakpoint wide_1x {
            color: var(--color-10);
            font-size: var(--font-size--s);
          }
        }

        @drupal-breakpoint wide_1x {
          background-color: transparent;
        }
      }

      &:nth-child(n+2) > .menu-item__container {
        @drupal-breakpoint wide_1x {
          border-top: 1px solid var(--color-4);
        }
      }

      @drupal-breakpoint wide_1x {
        padding-right: var(--space-xl);
        padding-left: var(--space-xl);
        background-color: transparent;
      }
    }

    @drupal-breakpoint wide_1x {
      padding: var(--space-xxs-plus) 0;
    }
  }

  & > .menu {
    & > .menu-item {

      &--expanded > .menu::before {
        @drupal-breakpoint wide_1x {
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          content: "";
          transform: translateX(-50%);
          border: 8px solid transparent;
          border-top: 8px solid var(--color-1-30);
        }
      }

      @drupal-breakpoint wide_1x {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    @drupal-breakpoint wide_1x {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}
