.menu--footer {
  .menu {
    columns: auto 2;

    .menu-item {
      text-indent: 0;
      color: var(--color-5);
      break-inside: avoid;

      a {
        color: inherit;
        font-size: var(--font-size--s);
      }
    }
  }

  & > .menu {
    & > .menu-item {
      & > a {
        text-transform: uppercase;
        font-size: var(--font-size--m);
      }

      .menu {
        margin-top: var(--space-xxxs);
        columns: auto 1;

        .menu-item {
          display: inline-block;
          width: 100%;
          margin-top: var(--space-xxxxs);
          vertical-align: top;

          &::before {
            content: "-";
          }
        }

        @drupal-breakpoint narrow_1x {
          columns: auto 2;
        }

        @drupal-breakpoint wide_1x {
          columns: auto 3;
        }
      }
    }
  }
}
