@import "@my_theme/components/atoms/link/_a-link";

.webform-submission-contact-form {

  .form-type-webform-markup {
    margin-bottom: var(--space-xxs);
    text-align: center;
    color: var(--color-6);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight--semibold);
  }

  .webform-options-display-side-by-side {
    display: flex;
    justify-content: space-between;

    .ui-checkboxradio-label {
      width: calc(50% - var(--space-xxxxs) / 2);
    }
  }

  .form-email,
  .form-number,
  .form-tel,
  .form-text,
  .intl-tel-input {
    width: 100%;
  }

  .form-type-webform-terms-of-service {
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);

    label a {
      @extend %a-link;
      @extend %a-link--color--primary;

      text-decoration: underline;
    }
  }

  @drupal-breakpoint mobile_1x {
    .webform-button--submit {
      width: 100%;
    }
  }
}
