.paragraph--type--widget-search,
.block.my_theme-widget-search-form {

  form {
    display: flex;
    max-width: calc(var(--container--normal) - 2 * var(--space-l));
    margin: 0 auto;

    @drupal-breakpoint mobile_1x {
      flex-wrap: wrap;
    }

    @drupal-breakpoint wide_1x {
      padding: var(--space-l);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }
  }

  .form-item {
    margin-right: var(--space-xs);
  }

  .form-type-textfield {
    flex-basis: 11rem;
    flex-grow: 0;
    width: 11rem;

    .form-text {
      width: 100%;
    }

    &.form-item-enddate {
      @drupal-breakpoint mobile_1x {
        margin-right: 0;
      }
    }

    &.form-item-searchterm {
      flex-basis: 13.5rem;
      flex-grow: 1;
      width: auto;

      @drupal-breakpoint narrow_1x {
        flex-basis: 14.5rem;
      }

      @drupal-breakpoint mobile_1x {
        flex-basis: auto;
        width: 100%;
        margin-right: 0;
      }
    }

    @drupal-breakpoint mobile_1x {
      flex-basis: auto;
      width: calc(50% - var(--space-xs) / 2);
    }
  }

  .form-actions {

    .form-submit {
      width: 100%;

      @drupal-breakpoint narrow_1x {
        width: auto;
      }

      @drupal-breakpoint mobile_1x {
        max-width: 400px;
        margin: 0 auto;
      }
    }

    @drupal-breakpoint wide_1x {
      flex-basis: 9.5rem;
    }

    @drupal-breakpoint mobile_1x {
      width: 100%;
      text-align: center;
    }
  }
}

.o-modal .js-field-destination {
  width: 100%;
}
