:root {
  --icon-wrapper-size: 6.25rem; /* 100 */
  --icon-wrapper-size--less: 3.6875rem; /* 59 */
  --icon-wrapper-size--mobile: 5.25rem; /* 84 */
  --icon-wrapper-size--mobile--less: 3.4375rem; /* 55 */
  --icon-size: 2.9375rem; /* 47 */
  --icon-size--less: 1.5rem; /* 24 */
  --icon-size--mobile: 2.5rem; /* 40 */
  --icon-size--mobile--less: 1.3125rem; /* 21 */
}

%m-p-icon-label {
  text-align: center;

  &--flex {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var(--icon-wrapper-size--mobile);
    height: var(--icon-wrapper-size--mobile);
    border: 2px solid var(--color-4);
    border-radius: 50%;
    background-color: var(--color-2);
    box-shadow: var(--box-shadow);

    @drupal-breakpoint narrow_1x {
      width: var(--icon-wrapper-size);
      height: var(--icon-wrapper-size);
    }

    @drupal-breakpoint wide_1x {
      width: var(--icon-wrapper-size);
      height: var(--icon-wrapper-size);
    }
  }

  &__icon-wrapper--less {
    width: var(--icon-wrapper-size--mobile--less);
    height: var(--icon-wrapper-size--mobile--less);

    @drupal-breakpoint narrow_1x {
      width: var(--icon-wrapper-size--less);
      height: var(--icon-wrapper-size--less);
    }

    @drupal-breakpoint wide_1x {
      width: var(--icon-wrapper-size--less);
      height: var(--icon-wrapper-size--less);
    }
  }

  &__icon {
    width: auto;
    max-width: var(--icon-size--mobile);
    height: auto;
    max-height: var(--icon-size--mobile);
    vertical-align: top;

    @drupal-breakpoint narrow_1x {
      max-width: var(--icon-size);
      max-height: var(--icon-size);
    }

    @drupal-breakpoint wide_1x {
      max-width: var(--icon-size);
      max-height: var(--icon-size);
    }
  }

  &__icon--less {
    max-width: var(--icon-size--mobile--less);
    max-height: var(--icon-size--mobile--less);

    @drupal-breakpoint narrow_1x {
      max-width: var(--icon-size--less);
      max-height: var(--icon-size--less);
    }

    @drupal-breakpoint wide_1x {
      max-width: var(--icon-size--less);
      max-height: var(--icon-size--less);
    }
  }

  &__label {
    margin-top: var(--space-xs);
    font-size: var(--font-size--xs);
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--xs);

    &--after-icon {
      margin-top: 0;
      margin-left: var(--space-l);
    }

    @drupal-breakpoint narrow_1x {
      font-size: var(--font-size--m);
    }

    @drupal-breakpoint wide_1x {
      font-size: var(--font-size--m);
    }
  }

  &__label--bigger {
    font-size: var(--font-size--m-plus);
    font-weight: var(--font-weight--semibold);

    @drupal-breakpoint narrow_1x {
      font-size: var(--font-size--l);
    }

    @drupal-breakpoint wide_1x {
      font-size: var(--font-size--l);
    }
  }
}
