<div class="{{ modifier_class }}">
  <div class="m-p-icon-label__icon-wrapper {{ icon_wrapper_modifier_class }}">
    <img class="m-p-icon-label__icon {{ icon_modifier_class }}" src="http://placekitten.com/40/40" />
  </div>
  <div class="m-p-icon-label__label {{ label_modifier_class }}">{{ label }}</div>
</div>
