@import "_m-p-icon-label";

.m-p-icon-label {
  @extend %m-p-icon-label;

  &--flex {
    @extend %m-p-icon-label--flex;
  }

  &__icon-wrapper {
    @extend %m-p-icon-label__icon-wrapper;

    &--less {
      @extend %m-p-icon-label__icon-wrapper--less;
    }
  }

  &__icon {
    @extend %m-p-icon-label__icon;

    &--less {
      @extend %m-p-icon-label__icon--less;
    }
  }

  &__label {
    @extend %m-p-icon-label__label;

    &--bigger {
      @extend %m-p-icon-label__label--bigger;
    }

    &--after-icon {
      @extend %m-p-icon-label__label--after-icon;
    }
  }
}
