:root {
  --select-border-color: var(--color-4);
  --select-bg-color: var(--color-2);
  --select-hover-bg-color: var(--color-1-12);
}

%a-select {
  position: relative;

  &__box {
    width: 100%;

    &::-ms-expand {
      display: none;
    }
  }

  &__destination-icon {
    width: var(--space-xxxl);
    height: var(--space-xxxl);
    margin-right: var(--space-xxs);
  }

  &__destination-label {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight--medium);

    &--small {
      color: var(--color-6);
      font-size: var(--font-size--m);
    }

    &--main {
      font-size: var(--font-size--xxl);
    }
  }

  &__destination-row {
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: var(--space-xs);
    width: 0.75rem;
    height: 0.75rem;
    transform: translateY(-50%) rotate(-90deg);
    pointer-events: none;

    &--active {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &__group {
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size--l);
    font-weight: var(--font-weight--medium);
  }

  &__menu {
    padding: 0;
    border-bottom-right-radius: var(--border-radius--small);
    border-bottom-left-radius: var(--border-radius--small);
    background-color: var(--select-bg-color);
    box-shadow: var(--box-shadow);

    &--fixed-height {
      overflow-y: scroll;
      max-height: 300px;

      @drupal-breakpoint mobile_1x {
        z-index: 610;
        max-height: 75vh;
      }
    }
  }

  &__menu-item {
    display: block;
    margin: 0;
    padding: var(--space-xs);
    border-bottom: 1px solid var(--select-border-color);
    background-color: var(--select-bg-color);

    &--active {
      text-decoration: none;
      background-color: var(--select-hover-bg-color);
    }
  }

  /* custom styles for flag in contact form */
  &__flag {
    border-right: 1px solid var(--color-4);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--color-3);
  }
}
