<div class="a-select {{ modifier_class }}">
  <select class="a-select__box a-input-text">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
  <svg class="a-select__icon" aria-hidden="true">
    <use xlink:href="{{ svg }}#svg-arrow"></use>
  </svg>
</div>
