@import "_a-select";

.a-select {
  @extend %a-select;

  &__box {
    @extend %a-select__box;
  }

  &__icon {
    @extend %a-select__icon;
  }

  &__menu {
    @extend %a-select__menu;

    .ui-menu-item-wrapper {
      @extend %a-select__menu-item;

      &.ui-state-active {
        @extend %a-select__menu-item--active;
      }
    }
  }

  .ui-selectmenu-button.ui-button {
    width: 100%;
  }

  .ui-selectmenu-button-open + .a-select__icon {
    @extend %a-select__icon--active;
  }
}
