%a-slider-pagination {
  text-align: center;

  &__bullet {
    display: inline-block;
    width: var(--font-size--l);
    height: var(--font-size--l);
    vertical-align: top;
    border: 2px solid var(--color-6);
    border-radius: 50%;
    background-color: var(--color-2);

    &:nth-child(n+2) {
      margin-left: var(--space-xxxxs);
    }

    &--clickable {
      cursor: pointer;
    }

    &--active {
      background-color: var(--color-6);
    }
  }
}
