<div class="a-slider-pagination {{ modifier_class }}">
  <div class="a-slider-pagination__bullet"></div>
  <div class="a-slider-pagination__bullet a-slider-pagination__bullet--active"></div>
  <div class="a-slider-pagination__bullet"></div>
  <div class="a-slider-pagination__bullet"></div>
  <div class="a-slider-pagination__bullet"></div>
</div>
