@import "_a-slider-pagination";

.a-slider-pagination {
  @extend %a-slider-pagination;
}

.a-slider-pagination__bullet {
  @extend %a-slider-pagination__bullet;

  .a-slider-pagination--clickable & {
    @extend %a-slider-pagination__bullet--clickable;
  }

  &--active {
    @extend %a-slider-pagination__bullet--active;
  }
}
