{#
/**
 * @file
 * Profile for LangDropDownSwitcher block.
 */
#}

<div class="lang-switcher">
  <button class="lang-switcher__button lang-switcher__clickable" aria-expanded="false">
    <div class="lang-switcher__button-content">
      {{ button_icon }}
      {{ button_text }}
    </div>
    <div class="lang-switcher__button-arrow">
      <svg aria-hidden="true">
        <use xlink:href="{{ my_theme_svg_sprite_path }}#svg-arrow"></use>
      </svg>
    </div>
  </button>
  <div class="lang-switcher__dropdown">
    <ul class="lang-switcher__list">
      {% for item in links %}
        {% if item.link %}
          <li class="lang-switcher__item">
            {{ item.link }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
