%a-slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-xxxl);
  height: var(--space-xxxl);
  margin-top: calc(var(--space-xxxl) / -2);
  padding: 0;
  cursor: pointer;
  border: 1px solid var(--color-4);
  border-radius: var(--border-radius);
  background-color: var(--color-2);
  appearance: none;

  &--secondary {
    border: 0;
    background-color: var(--color-2-60);
  }

  &__icon {
    width: var(--space-s);
    height: var(--space-s);
    vertical-align: top;
    fill: var(--color-6);

    &--right {
      transform: rotate(180deg);
    }

    &--secondary {
      fill: var(--color-7);
    }
  }

  &:hover {
    border-color: var(--color-14);

    svg {
      fill: var(--color-14);
    }
  }

  &:active {
    transform: scale(0.92, 0.92);
  }
}

%a-slider-arrow {
  &--disabled {
    cursor: default;
    opacity: 0.2;

    &:hover {
      border-color: var(--color-4);

      svg {
        fill: var(--color-6);
      }
    }

    &:active {
      transform: scale(1, 1);
    }
  }
}
