@import "_a-slider-arrow";

.a-slider-arrow {
  @extend %a-slider-arrow;

  &--secondary {
    @extend %a-slider-arrow--secondary;
  }

  &--disabled {
    @extend %a-slider-arrow--disabled;
  }

  &__icon {
    @extend %a-slider-arrow__icon;

    &--right {
      @extend %a-slider-arrow__icon--right;
    }

    &--secondary {
      @extend %a-slider-arrow__icon--secondary;
    }
  }
}
