%m-p-table {
  text-align: center;

  &__columns {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    & > * {

      & > *,
      & > * > * {
        @drupal-breakpoint wide_1x {
          height: 100%;
        }
      }

      @drupal-breakpoint wide_1x {
        flex: 1;
      }
    }

    @drupal-breakpoint wide_1x {
      display: flex;
    }
  }
}
