:root {
  --p-column-height-height: 52px;
}

%m-p-column {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--p-column-height-height);
    padding-right: var(--space-s);
    padding-left: var(--space-s);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--color-11);
  }

  &__footer {
    padding: var(--space-s);
    border-style: solid;
    border-color: var(--color-4);
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--color-2);

    @drupal-breakpoint wide_1x {
      height: calc(100% - var(--p-column-height-height));
    }
  }

  &__title {
    text-align: left;
    color: var(--color-2);
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--xs);
  }

  &__icon {
    flex-shrink: 0;
    margin-right: var(--space-xxs);

    img {
      width: auto;
      max-height: var(--space-xxxl);
      vertical-align: middle;
    }
  }

  &__row {
    &:nth-child(n+2) {
      margin-top: var(--space-s);
      padding-top: var(--space-s);
      border-top: 1px solid var(--color-4);
    }
  }
}
