<div class="m-p-column {{ modifier_class }}">
  <div class="m-p-column__header">
    <div class="m-p-column__icon">
      <img class="m-p-column__icon" src="http://placekitten.com/28/28" />
    </div>
    <div class="m-p-column__title">
      {{ title }}
    </div>
  </div>
   <div class="m-p-column__footer">
    <div class="m-p-column__row-item">
      {{ content }}
    </div>
  </div>
</div>
