@import "_m-p-column";

.m-p-column {
  &__header {
    @extend %m-p-column__header;
  }

  &__footer {
    @extend %m-p-column__footer;
  }

  &__title {
    @extend %m-p-column__title;
  }

  &__icon {
    @extend %m-p-column__icon;
  }

  &__row {
    @extend %m-p-column__row;
  }
}
