@import "_a-link";

a {
  @extend %a-link;

  &:hover,
  &:focus {
    @extend %a-link--active;
  }

  &.click-disabled {
    &:hover,
    &:focus {
      cursor: default;
      text-decoration: none;
    }
  }
}
