:root {
  --input-text-color: var(--color-6);
  --input-text-bg-color: var(--color-2);
  --input-text-border-color: var(--color-5);
  --input-text--active-border-color: var(--color-11);
  --input-text-placeholder-color: var(--color-15);
  --input-text-secondary--active-border-color: var(--color-13);
}

%a-input-text {
  max-width: 100%;
  padding: var(--space-xs);
  white-space: nowrap;
  color: var(--input-text-color);
  border: 1px solid var(--input-text-border-color);
  border-radius: var(--border-radius);
  outline: none;
  background: var(--input-text-bg-color);
  box-shadow: none;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight--semibold);
  appearance: none;

  &:hover,
  &:focus {
    border-color: var(--input-text--active-border-color);
  }

  &::placeholder {
    color: var(--input-text-placeholder-color);
  }

  &--secondary {
    &:hover,
    &:focus {
      border-color: var(--input-text-secondary--active-border-color);
    }
  }
}
