<input placeholder="Type something..." type="text" class="a-input-text {{ modifier_class }}">

<hr/>

<textarea placeholder="Type something in textarea..." class="a-input-text {{ modifier_class }}"></textarea>
