<div class="color-preview">
  <div id="text">
    <h2>Color Palette</h2>
    <div class="colors">
      <div class="colors__item">
        <div class="color-1"></div>
        <div class="description">var(--color-1)</div>
      </div>
      <div class="colors__item">
        <div class="color-1-12"></div>
        <div class="description">var(--color-1-12)</div>
      </div>
      <div class="colors__item">
        <div class="color-1-30"></div>
        <div class="description">var(--color-1-30)</div>
      </div>
      <div class="colors__item">
        <div class="color-1-50"></div>
        <div class="description">var(--color-1-50)</div>
      </div>
      <div class="colors__item">
        <div class="color-2"></div>
        <div class="description">var(--color-2)</div>
      </div>
      <div class="colors__item">
        <div class="color-2-60"></div>
        <div class="description">var(--color-2-60)</div>
      </div>
      <div class="colors__item">
        <div class="color-3"></div>
        <div class="description">var(--color-3)</div>
      </div>
      <div class="colors__item">
        <div class="color-4"></div>
        <div class="description">var(--color-4)</div>
      </div>
      <div class="colors__item">
        <div class="color-5"></div>
        <div class="description">var(--color-5)</div>
      </div>
      <div class="colors__item">
        <div class="color-6"></div>
        <div class="description">var(--color-6)</div>
      </div>
      <div class="colors__item">
        <div class="color-7"></div>
        <div class="description">var(--color-7)</div>
      </div>
      <div class="colors__item">
        <div class="color-8"></div>
        <div class="description">var(--color-8)</div>
      </div>
      <div class="colors__item">
        <div class="color-9"></div>
        <div class="description">var(--color-9)</div>
      </div>
      <div class="colors__item">
        <div class="color-10"></div>
        <div class="description">var(--color-10)</div>
      </div>
      <div class="colors__item">
        <div class="color-11"></div>
        <div class="description">var(--color-11)</div>
      </div>
      <div class="colors__item">
        <div class="color-11-50"></div>
        <div class="description">var(--color-11-50)</div>
      </div>
      <div class="colors__item">
        <div class="color-11-90"></div>
        <div class="description">var(--color-11-90)</div>
      </div>
      <div class="colors__item">
        <div class="color-12"></div>
        <div class="description">var(--color-12)</div>
      </div>
      <div class="colors__item">
        <div class="color-12-80"></div>
        <div class="description">var(--color-12-80)</div>
      </div>
      <div class="colors__item">
        <div class="color-13"></div>
        <div class="description">var(--color-13)</div>
      </div>
      <div class="colors__item">
        <div class="color-14"></div>
        <div class="description">var(--color-14)</div>
      </div>
      <div class="colors__item">
        <div class="color-15"></div>
        <div class="description">var(--color-15)</div>
      </div>
    </div>
  </div>
</div>
