/* currently only mobile styles added */
%o-modal {
  position: fixed;
  z-index: 601;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);

  &__close {
    position: absolute;
    top: var(--space-xs);
    right: var(--space-xs);
    margin: 0;
    padding: 0;
    text-indent: 0;
    border: none;
    background: none;

    &--left {
      right: auto;
      left: var(--space-xs);
    }
  }

  &__content {
    flex-grow: 0;
    width: 100%;
    margin: 0;
    padding: var(--space-xs);
  }

  &__header {
    position: relative;
    padding: var(--space-xs);
    text-align: center;
    color: var(--color-2);
    background-color: var(--color-9);
  }

  &__icon {
    width: var(--space-xs);
    height: var(--space-xs);
    fill: var(--color-2);
  }

  &__title {
    margin: 0 var(--space-s);
    font-size: var(--font-size--m-plus);
    font-weight: var(--font-weight--medium);
  }
}
