<div class="o-modal {{ modifier_class }}">
  <div class="o-modal__header">
    <div class="o-modal__title">{{ content.header }}</div>
    <button class="o-modal__close">
      <svg class="o-modal__icon" aria-hidden="true">
        <use xlink:href="{{ svg }}#svg-arrow--long"></use>
      </svg>
    </button>
  </div>
  <div class="o-modal__content">{{ content.content }}</div>
</div>
