%m-bc-paragraph {
  &__grid {
    display: flex;
    flex-wrap: wrap;

    & > * {
      width: 33.33%;
      padding-right: 1.5%;
      padding-left: 1.5%;

      @drupal-breakpoint mobile_1x {
        &:nth-child(n+4) {
          padding-top: var(--space-xl);
        }
      }

      @drupal-breakpoint narrow_1x {
        padding-right: 5%;
        padding-left: 5%;

        &:nth-child(n+4) {
          padding-top: var(--space-xl);
        }
      }

      @drupal-breakpoint wide_1x {
        width: 16.66%;
        padding-right: 2.5%;
        padding-left: 2.5%;
      }
    }
  }
}
