:root {
  --site-template-header-height: 80px;
  --site-template-header-height--mobile: 60px;
}

.l-site-template {
  &__header {
    position: absolute;
    z-index: 501;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-1-30);

    &--pink {
      background-color: var(--color-13);
    }

    .site-logo img {
      max-width: 90px;
      vertical-align: top;

      @drupal-breakpoint wide_1x {
        max-width: none;
      }

      @drupal-breakpoint mobile_1x {
        max-width: 76px;
      }
    }
  }

  &__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--site-template-header-height--mobile);

    @drupal-breakpoint wide_1x {
      height: var(--site-template-header-height);
    }
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__header-right {

    & > *:nth-child(n+2) {
      @drupal-breakpoint wide_1x {
        margin-left: var(--space-xl);
      }
    }

    @drupal-breakpoint wide_1x {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__iconic-button {
    padding: var(--space-s);

    svg {
      max-width: 20px;
      max-height: 15px;
      fill: white;
      vertical-align: top;
    }

    &--burger {
      margin-left: calc(var(--space-s) * -1);

      @drupal-breakpoint narrow_1x {
        margin-left: calc(var(--space-l) * -1);
      }
    }

    @drupal-breakpoint narrow_1x {
      padding: var(--space-l);
    }

    @drupal-breakpoint wide_1x {
      display: none;
    }
  }

  &__side-nav-header {
    display: flex;
    align-items: center;
    height: var(--site-template-header-height--mobile);
    background-color: var(--color-13);

    @drupal-breakpoint wide_1x {
      display: none;
    }
  }

  &__side-nav {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    max-width: 400px;
    height: 100%;
    transition: 0.3s cubic-bezier(0.14, 0.81, 0.23, 1);
    transform: translateX(-100%);
    background-color: var(--color-2);

    &--active {
      transform: translateX(0);

      @drupal-breakpoint wide_1x {
        transition: none;
        transform: none;
      }
    }

    @drupal-breakpoint wide_1x {
      position: static;
      z-index: auto;
      top: auto;
      left: auto;
      display: block;
      display: flex;
      align-items: center;
      width: auto;
      max-width: none;
      height: auto;
      height: 100%;
      transition: none;
      transform: none;
      background-color: transparent;
    }
  }

  &__side-nav-content {
    overflow: auto;
    height: calc(100% - var(--site-template-header-height--mobile));
    padding-right: var(--space-s);
    padding-bottom: var(--space-l);
    padding-left: var(--space-s);

    & > .block-region-second-region {

      & > .block-menu {
        @drupal-breakpoint wide_1x {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }

      @drupal-breakpoint wide_1x {
        height: 100%;
      }
    }

    @drupal-breakpoint narrow_1x {
      padding-right: var(--space-l);
      padding-left: var(--space-l);
    }

    @drupal-breakpoint wide_1x {
      display: flex;
      overflow: visible;
      align-items: center;
      height: auto;
      height: 100%;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  &__main {
    padding-top: var(--site-template-header-height--mobile);

    @drupal-breakpoint wide_1x {
      padding-top: var(--site-template-header-height);
    }
  }

  .block-region-second-region {

    & > *:nth-child(n+2) {
      margin-top: var(--space-xl);

      @drupal-breakpoint wide_1x {
        margin-top: 0;
        margin-left: var(--space-xs);
      }
    }

    @drupal-breakpoint wide_1x {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__footer-item {
    &--2,
    &--5,
    &--6 {
      padding-top: var(--space-xl);
      padding-bottom: var(--space-xl);

      @drupal-breakpoint narrow_1x {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
      }

      @drupal-breakpoint wide_1x {
        padding-top: var(--space-xxxl);
        padding-bottom: var(--space-xxxl);
      }
    }

    &--2 {
      background-color: var(--color-2);
    }

    &--4 {
      background-color: var(--color-10);
    }

    &--5 {
      background-color: var(--color-9);
    }

    &--6 {
      background-color: var(--color-8);

      .block:nth-child(n+2) {
        padding-top: var(--space-xxxl);
      }
    }
  }
}
