@import "@my_theme/components/molecules/teaser/teaser";

.m-teaser {
  .node__links {
    @extend %m-teaser__content-button-wrapper;

    ul.inline {
      @extend %m-teaser__content-button;

      display: block;

      li {
        display: block;
        padding: 0;

        a {
          vertical-align: top;
        }
      }
    }
  }

  &--secondary .node__links ul.inline {
    @extend %m-teaser__content-button--secondary;
  }

  &--banner .node__links ul.inline {
    @drupal-breakpoint wide_1x {
      max-width: 85%;
      margin: var(--space-xs) 0 0;
    }
  }
}
