%o-teaser-slider {
  position: relative;

  &__container {
    @drupal-breakpoint narrow_1x {
      margin-right: calc(var(--space-l) * -1);
      margin-left: calc(var(--space-l) * -1);
    }

    @drupal-breakpoint mobile_1x {
      margin-right: calc(var(--space-s) * -1);
      margin-left: calc(var(--space-s) * -1);
    }
  }

  &__slider {
    &--container {
      @drupal-breakpoint narrow_1x {
        padding-right: var(--space-s);
        padding-left: var(--space-l);
      }

      @drupal-breakpoint mobile_1x {
        padding-right: var(--space-s);
        padding-left: var(--space-s);
      }
    }
  }

  &__arrow {
    position: absolute;
    z-index: 10;
    top: 50%;

    &--left {
      left: var(--space-xxxs);

      @drupal-breakpoint wide_1x {
        left: 2rem;
      }

      @drupal-breakpoint large_1x {
        left: calc(50% - var(--container) / 2 - 3.3rem);
      }
    }

    &--left-in-small-container {
      left: var(--space-xxxs);

      @drupal-breakpoint wide_1x {
        left: -3rem;
      }

      @drupal-breakpoint large_1x {
        left: calc(50% - var(--container) / 2 - 3.3rem);
      }
    }

    &--right {
      right: var(--space-xxxs);

      @drupal-breakpoint wide_1x {
        right: 2rem;
      }

      @drupal-breakpoint large_1x {
        right: calc(50% - var(--container) / 2 - 3.3rem);
      }
    }

    &--right-in-small-container {
      right: var(--space-xxxs);

      @drupal-breakpoint wide_1x {
        right: -3rem;
      }

      @drupal-breakpoint large_1x {
        right: calc(50% - var(--container) / 2 - 3.3rem);
      }
    }

    @media all and (max-width: 1280px) {
      display: none;
    }
  }

  &__pagination {
    margin-top: var(--space-xl);
  }

  &--with-highlights {
    &__item {
      width: calc(25% - 22.5px);

      &--highlighted {
        width: calc(50% - 15px);
      }
    }
  }
}
