<div class="o-teaser-slider o-teaser-slider--default">
  <div class="swiper-container o-teaser-slider__slider h-container">
    <div class="swiper-wrapper o-teaser-slider__items">
      {% for item in content.items %}
        <div class='o-teaser-slider__item swiper-slide o-teaser-slider__item--number-{{ loop.index }}'>{{ item }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="o-teaser-slider__arrow o-teaser-slider__arrow--left a-slider-arrow">
    <svg class="a-slider-arrow__icon" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-arrow"></use>
    </svg>
  </div>
  <div class="o-teaser-slider__arrow o-teaser-slider__arrow--right a-slider-arrow">
    <svg class="a-slider-arrow__icon a-slider-arrow__icon--right" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-arrow"></use>
    </svg>
  </div>
</div>

