@import "_o-teaser-slider";

.o-teaser-slider {
  @extend %o-teaser-slider;

  &__container {
    @extend %o-teaser-slider__container;
  }

  &__slider--container {
    @extend %o-teaser-slider__slider--container;
  }

  &__arrow {
    @extend %o-teaser-slider__arrow;

    &--left {
      @extend %o-teaser-slider__arrow--left;
    }

    &--right {
      @extend %o-teaser-slider__arrow--right;
    }
  }

  &--with-highlights {
    .o-teaser-slider__item {
      @extend %o-teaser-slider--with-highlights__item;

      &.o-teaser-slider__item--number-1 {
        @extend %o-teaser-slider--with-highlights__item--highlighted;
      }
    }
  }
}
