%m-datepicker {
  padding: var(--space-xs);
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);

  &__arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    content: "";
    transform: rotate(-45deg);
    border: solid var(--color-11);
    border-width: 0 2px 2px 0;

    &--left {
      margin-right: -5px;
      margin-left: 0;
      transform: rotate(135deg);
    }
  }

  &__cell {
    width: 40px;
    height: 32px;
    padding: 0;
    border: 0.5px solid var(--color-4);

    &--disabled {
      color: var(--color-4);
      background-color: var(--color-3);
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    padding: var(--space-xxxs) var(--space-xxxxs);
    text-align: center;
    line-height: 1;

    &--current {
      color: var(--color-3);
      background-color: var(--color-11-50);
    }

    &--active {
      color: var(--color-3);
      background-color: var(--color-11);
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-xl);
    height: var(--space-xl);
    cursor: pointer;
    border: 1px solid var(--color-1-12);
    border-radius: var(--border-radius--small);
  }

  &__day-title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size--s);
    font-weight: var(--font-weight--semibold);
  }

  &__title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size--l);
    font-weight: var(--font-weight--semibold);
  }
}
