%o-banner-slider {
  display: inherit;

  &__arrow {
    position: absolute;
    z-index: 10;
    top: 50%;

    &--left {
      left: var(--space-xxxs);

      @drupal-breakpoint wide_1x {
        left: 2rem;
      }

      @drupal-breakpoint large_1x {
        left: 6rem;
      }
    }

    &--right {
      right: var(--space-xxxs);

      @drupal-breakpoint wide_1x {
        right: 2rem;
      }

      @drupal-breakpoint large_1x {
        right: 6rem;
      }
    }
  }
}
