@import "swiper/dist/css/swiper";
@import "_o-banner-slider";

.o-banner-slider {
  @extend %o-banner-slider;

  &__arrow {
    @extend %o-banner-slider__arrow;

    &--left {
      @extend %o-banner-slider__arrow--left;
    }

    &--right {
      @extend %o-banner-slider__arrow--right;
    }
  }
}
