<div class="swiper-container o-banner-slider">
  <div class="swiper-wrapper o-banner-slider__items">
    {% for item in content.items %}
      <div class='o-banner-slider__item swiper-slide'>{{ item }}</div>
    {% endfor %}
  </div>

  <div class="o-banner-slider__arrow o-banner-slider__arrow--left a-slider-arrow">
    <svg class="a-slider-arrow__icon" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-arrow"></use>
    </svg>
  </div>
  <div class="o-banner-slider__arrow o-banner-slider__arrow--right a-slider-arrow">
    <svg class="a-slider-arrow__icon a-slider-arrow__icon--right" aria-hidden="true">
      <use xlink:href="{{ svg }}#svg-arrow"></use>
    </svg>
  </div>
</div>
