%a-headings {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size--xxxxl);
  font-weight: var(--font-weight--bold);

  &--size {
    &--small {
      font-size: var(--font-size--xxl);
    }

    &--normal {
      font-size: var(--font-size--xxxxxl);
    }

    &--big {
      font-size: var(--font-size--xxxxxxl);
    }
  }

  &--weight {
    &--regular {
      font-weight: var(--font-weight--regular);
    }
  }

  &--shadow {
    text-shadow: var(--text-shadow);
  }
}
