@import "_a-headings";

.a-headings {
  @extend %a-headings;

  h2 {
    @extend %a-headings;
  }

  &--size {
    &--small {
      @extend %a-headings--size--small;
    }

    &--big {
      @extend %a-headings--size--big;
    }
  }

  &--weight {
    &--regular {
      @extend %a-headings--weight--regular;
    }
  }

  &--shadow {
    @extend %a-headings--shadow;
  }
}
