{#
/**
 * @file
 * Default theme implementation to display one-region layout with container class.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--one-region',
    'm-block',
  ]
%}
{% if content %}
  <div{{attributes.addClass(classes)}}>
    {% if content.title|render %}
      <div {{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'h-container', 'm-block__title') }}>
        <div class='a-headings'>
          {{ content.title }}
        </div>
      </div>
    {% endif %}
    {% if content.content|render %}
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'h-container') }}>
        {{ content.content }}
      </div>
    {% endif %}
    {% if content.fullwidth|render %}
      <div {{ region_attributes.fullwidth.addClass('layout__region', 'layout__region--fullwidth', 'h-container', 'h-container--full') }}>
        {{ content.fullwidth }}
      </div>
    {% endif %}
  </div>
{% endif %}
