@import "@my_theme/components/helpers/container/_h-container";

.h-container {
  @extend %h-container;

  &--full {
    @extend %h-container--full;
  }

  &--medium {
    @extend %h-container--medium;
  }

  &--narrow {
    @extend %h-container--narrow;
  }
}

.paragraph--type--image-and-text .field--name-wysiwyg {
  @extend %h-container;
  @extend %h-container--more-offset--mobile;
}

.path-contact .webform-submission-contact-form {
  @extend %h-container;
  @extend %h-container--narrow;
}

.paragraph--type--media.paragraph--view-mode--default .layout__region--content.h-container {
  @extend %h-container--medium;
}

.l-site-template__main .paragraph--type--wysiwyg > .layout {
  @extend %h-container;
}
