%m-menu-social {
  .social-networks {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      &--facebook {
        svg {
          width: 9px;
          height: 17px;
          margin-right: var(--space-xs);
        }
      }

      &--twitter {
        svg {
          width: 21px;
          height: 17px;
          margin-right: var(--space-xs);
        }
      }

      &--instagram {
        svg {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}
